<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js'></script>
    <!--<script type='text/javascript' src='/js/jquery-fileupload.min.js'></script>-->
    <script type='text/javascript' src='https://cdn.socket.io/socket.io-1.0.6.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.min.js'></script>
    <script type='text/javascript' src='/js/controllers.js'></script>
    <script type='text/javascript' src='/js/directives.js'></script>
    <script type='text/javascript' src='/js/ngapp.js'></script>
    <!--<script type='text/javascript' src='/js/script.js'></script>-->
    <link type='text/css' rel='stylesheet' href='/css/style.css'>
    <link type='text/css' rel='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>imgtickr</title>
</head>
<body>
    <div ng-app="imgtickr">
        <div class="container" ng-controller="mainCtrl">
            <header>
                <div>
                    <img src="/img/logo.png">
                    <table>
                        <tbody>
                        <tr>
                            <td>
                                <span>you are {{handle}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    #
                                    <input id="toOpen" type="text" maxlength="16" ng-model="channels.toOpen" on-enter="channels.open(channels.toOpen)">
                                    <span ng-show="channels.toOpen.length > 0" ng-class="{'blue':channels.toOpen.length < 16}">{{16-channels.toOpen.length}}</span>
                                </label>
                                <!--<input type="button" value="Open" ng-click="channels.open(channels.toOpen)">-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ul class="allChannels">
                        <li ng-repeat="chan in channels.all | orderBy:chan.members | filter:channels.toOpen | limitTo:10" ng-click="channels.open(chan.channel)"><span>#{{chan.channel}}<span class="blue"> ({{chan.members}}) </span></span></li>
                    </ul>
                </div>
            </header>
            <div ng-repeat="channel in openChannelNames" class="row">
                <div class="tickr" data-channel="channel" data-members="openChannels[channel].members"></div>
            </div>
        </div>
    </div>
</body>
</html>